a {
	cursor: alias;
	text-decoration: none;
}
h1 {
	text-align: left;
}
img {
	display: inline;
	float: right;
	border-radius: 25%;
	border-style: shadow;
	padding: 3px;
}
h4, h6 {
	display: inline;
}
#header {
	background-color: #FFF8E6;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-bottom: 3px;
	padding-top: 3px;
	border-style: shadow;
}
#objective {
	background-color: #EDE5FB;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}
#address, #phone, #email {
	text-align: center;
	width: 33%;
	display: inline;
}
body {
	margin: 3px;
	font-family: Calibri, sans-serif;
	max-width: 640px;
	margin: auto;
	background-color: #E6E8FC;
}
#container {
	background-color: #D1D6F6;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 5px 10px #8D96D7;
	margin-top: 15px;
	margin-bottom: 15px;
}
.left {
	float: left;
}
.right {
	float: right;
	text-align: right;
}
.date {
	font-style: italic;
	font-size: 9pt;
}
#education, #history, #skills {
	background-color: #82B7D0;
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
}
#skills {
	
}
.content-block {
	background-color: #E3F3FB;
	border-radius: 20px;
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}
